nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid rgba(grey, 0.5);
        border-radius: 3px;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgba(grey, 0.8);
            color: white;
        }
    }

    .react-switch {
        vertical-align: middle;
        margin-left: 3rem;

        .moon,
        .sun {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            height: 100%;
        }

        .moon {
            color: grey;
        }

        .sun {
            color: orangered;
        }
    }
}

@media (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}
