@import "./components//styles/song";
@import "./components/styles/player";
@import "./components/styles/library";
@import "./components/styles/navbar";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(grey, 0.4);
  font-family: "Roboto Slab", serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(grey, 0.4);
  border-radius: 1.2rem;
  border: transparent;
}

h1,
h2,
h3 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease-in-out;
}

.App.dark {
  h1,
  h2,
  h3,
  p,
  span,
  .skip-forward,
  .skip-back,
  .play,
  .pause,
  .volume-low,
  .volume-high,
  .shuffle,
  .music {
    color: white;
  }

  h4 {
    color: rgb(211, 211, 211);
  }

  background-color: #181a27;

  .library {
    background-color: #181a27;
  }

  .library-song {
    &:hover {
      h3 {
        color: rgb(100, 100, 100);
      }

      h4 {
        color: black;
      }
    }
  }
}

@media (min-width: 768px) {
  .library-active {
    margin-left: 20rem;
  }
}

@media (min-width: 900px) {
  .library-active {
    margin-left: 20rem;
  }
}

@media (max-width: 768px) {
  .library-active {
    nav {
      button {
        display: none;
      }
    }
  }
}
